<div class="card">
    <h3 class="card-header">
        <i class="material-icons">settings</i> {{ 'Subscription'|trans({}, 'Modules.AdresValidatie.Admin') }}
    </h3>
    <div class="card-body">
        <a class="btn btn-primary" href="{{ checkoutUrl }}">
            {{ 'Click here'|trans({}, 'Admin.Actions') }}
        </a>
    </div>
</div>
